<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>三日月</title>
    <link rel="icon" type="image/x-icon" href="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3794032166,3245555489&fm=26&gp=0.jpg">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/plugs_paging.css">


</head>
<body style="background:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1585429023&di=3e00cf29a3d39e7deda432ab49e62854&imgtype=jpg&er=1&src=http%3A%2F%2Fattachments.gfan.net.cn%2Fforum%2F201606%2F24%2F224917s522i5viep0400ie.jpg) ; background-size:100% 100% ; background-attachment: fixed">
<div id="app">
    <!--主页头部含有小屏幕时名片，不应使用共有头部-->
    <div class="header">
        <div class="am-topbar" style="margin-bottom: 0">
            <h1 class="am-topbar-brand">
                <a href="/" class="blogTitleName"><img src="img/kira/logo.jpeg" class="imgStyle">三日月</a>
            </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" style="background-color: #CCCCCC;border-color: white;border-radius: 6px" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

            <div id="personal-card" class="am-dropdown am-show-md-down" data-am-dropdown style="float: right">
                <button id="personal-card-btn" class="am-btn am-btn-success am-dropdown-toggle" style="padding: 0">
                    <img src="img/kira/logo.jpeg"><span class="am-icon-caret-down"></span></button>
                <div class="am-dropdown-content">
                    <div class="personal-card-show" style="text-align: center">
                        <div class="personal-card-show-img">
                            <img src="https://kira-blog.oss-cn-hangzhou.aliyuncs.com/logo1.jpg">
                        </div>
                        <div class="personal-card-show-name">
                            <h4 style="font-weight: 500">三日月</h4>
                        </div>
                        <div class="personal-card-show-words">
                            <small style="font-size: 13px;color: #808080ad;">我穿过鸟居,能否遇见神明?</small>
                        </div>
                        <div class="personal-card-show-connection" style="margin-top: 10px">
                            <span style="color: #009688">微信：my_soul_your_beats_</span><br>
                            <span style="color: #009688">QQ：745583189</span><br>
                        </div>
                        <div class="personal-card-show-attention_btn">
                            <button class="myCardBtn am-btn am-btn-secondary am-round attention_btn" data-am-offcanvas="{target: '#doc-oc-demo1'}" style="margin-top: 10px">扫描二维码关注我</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li><a class="top_bar" href="/firstPage.html" style="cursor: pointer;"><span class="am-icon-home"></span>&nbsp;首页</a></li>
                    <li><a class="top_bar" href="/life.html" style="cursor: pointer;"><span class="am-icon-th"></span>&nbsp;生活</a></li>
                    <li><a class="top_bar" href="/technology.html" style="cursor: pointer;"><span class="am-icon-archive"></span>&nbsp;技术</a></li>
                    <li><a class="top_bar" href="/tags.html" style="cursor: pointer;"><span class="am-icon-tags"></span>&nbsp;标签</a></li>
                    <li><a class="top_bar" href="/update.html" style="cursor: pointer;"><span class="am-icon-calendar-plus-o"></span>&nbsp;版本更新</a></li>
                    <li><a class="top_bar" href="/aboutMe.html" style="cursor: pointer;"><span class="am-icon-user"></span>&nbsp;关于三日月</a> </li>
                </ul>


                <div class="am-topbar-right" th:if="${#httpServletRequest.remoteUser}">
                    <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                        <button class="personalSpace am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle><span ></span> <span class="am-icon-caret-down"></span></button>
                        <ul class="am-dropdown-content">
                            <li><a href="/user.html" >个人主页</a></li>
                            <li><a href="/superadmin.html" >网站后台管理</a></li>
                            <li><a href="/user.html" class="news">消息<span class="newsNum am-badge am-badge-danger"></span></a></li>
                            <li><a class="feedbackClick">反馈</a></li>
                            <hr style="margin: 10px 0 5px 0;">
                            <li><a th:href="@{/logout}">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                <div class="am-topbar-right">
                    <a href="/static/register.html" class="am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white">注册</a>
                </div>
                <div class="am-topbar-right" >
                    <a href="/login.html" class="loginBtn am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white">登录</a>
                </div>
                <div class="am-topbar-right writing am-hide-sm-down">
                    <a  href="/static/editor.html" >
                        <img  src="img/sign/write.png" >
                        <span class="write-word">写博客</span>
                    </a>
                </div>
                <div class="am-topbar-right reward am-hide-sm-down">
                    <a  href="/reward.html" style="text-decoration: none">
                        <img class="am-circle" src="img/sign/forbidden.png" width="20" height="20">
                        <span class="reward-word">禁止投食</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!--页面主体-->
    <div id="main" style="margin-top: 16px">

        <div class="am-g">
            <div class="am-u-sm-12 am-u-lg-9">
                <div class="radioBroadcast" style="background-color: white">
                    <i class="am-icon-volume-up" style="margin-left: 10px;color: #fbd602"></i>
                    <div class="roll">
                        <ul>
                            <li>新增未读消息提醒，可在个人主页查看未读消息啦</li>
                            <li>韶光易逝,不负年华。</li>
                            <li>有人住高楼,有人在深沟;有人光万丈,有人一身锈。</li>
                            <li>负重前行,不忘初心。</li>
                            <li>如果有话要对那人说,趁着还能和她见面的时候说出那话。</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="am-g">
            <div class="am-u-sm-12 am-u-lg-3 am-hide-md-down">
                <div id="left">
                    <div class="myCard" style="background-color: white">
                        <div class="am-g">
                            <div class="am-u-sm-5">
                                <div class="img-title">
                                    <img class="img" src="img/kira/logo.jpeg">
                                </div>
                            </div>
                            <div class="am-u-sm-7" style="padding: 0 20px 0 0;">
                                <div class="img-words">
                                    <h3 id="name">三日月</h3>
                                    <small style="font-size: 15px;color: #75787b">
                                        <p>时光静好,与君语;</p>
                                        <p>细水流年,与君同;</p>
                                        <p>繁华落尽,与君老.</p>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div id="connection" style="font-size: 14px">
                            <span style="color: #009688">微信：my_soul_your_beats_</span><br>
                            <span style="color: #009688">QQ：745583189</span><br>
                            <div id="follow">
                                <button class="myCardBtn am-btn am-btn-secondary am-round attention_btn" data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}">扫描二维码关注我</button>
                            </div>

                        </div>
                        <hr>
                        <div class="icons-row">
                            <div class="icons">
                                <div class="icon">
                                    <a href="https://github.com/KiraRabbit" target="_blank" class="am-icon-github am-icon-md " title="GitHub" data-am-popover="{content: 'GitHub', trigger: 'hover focus'}"></a>
                                </div>
                                <div class="icon">
                                    <a href="https://gitee.com/KiraRabbit" class="am-icon-gg am-icon-md" target="_blank" title="码云" data-am-popover="{content: '码云', trigger: 'hover focus'}"></a>
                                </div>
                                <div class="icon">
                                    <a href="https://weibo.com/u/2725280931" target="_blank" class="am-icon-weibo am-icon-md" title="微博" data-am-popover="{content: '微博', trigger: 'hover focus'}"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="new-comment" style="background-color: white">
                        <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                            <div class="am-list-news-hd am-cf">
                                <a class="newComments">
                                    <h2>最新评论</h2>
                                </a>
                            </div>
                            <div class="am-list-news-bd">
                                <ul class="am-list">
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="new-leaveWord" style="background-color: white">
                        <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                            <div class="am-list-news-hd am-cf">
                                <a class="newLeaveWord">
                                    <h2>最新留言</h2>
                                </a>
                            </div>
                            <div class="am-list-news-bd">
                                <ul class="am-list">
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                    <li class="am-g am-list-item-dated" style="height: 62px">

                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="showArticle am-u-sm-12 am-u-lg-6">
                <div class="articles">
                    <div class="center" style="background-color: white">
                        <div class="empty">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title" href="#" target="_blank">&nbsp;</a>
                                </h1>
                                <div class="article-meta row">
                                    <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                </div>
                            </header>
                            <div class="article-entry" style="height: 200px">
                            </div>
                            <div class="read-all">
                                <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                            </div>
                        </div>
                    </div>
                    <div class="center" style="background-color: white">
                        <div class="empty">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title" href="#" target="_blank">&nbsp;</a>
                                </h1>
                                <div class="article-meta row">
                                    <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                </div>
                            </header>
                            <div class="article-entry" style="height: 200px">
                            </div>
                            <div class="read-all">
                                <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                            </div>
                        </div>
                    </div>
                    <div class="center" style="background-color: white">
                        <div class="empty">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title" href="#" target="_blank">&nbsp;</a>
                                </h1>
                                <div class="article-meta row">
                                    <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                </div>
                            </header>
                            <div class="article-entry" style="height: 200px">
                            </div>
                            <div class="read-all">
                                <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                            </div>
                        </div>
                    </div>
                    <div class="center" style="background-color: white">
                        <div class="empty">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title" href="#" target="_blank">&nbsp;</a>
                                </h1>
                                <div class="article-meta row">
                                    <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                </div>
                            </header>
                            <div class="article-entry" style="height: 200px">
                            </div>
                            <div class="read-all">
                                <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                            </div>
                        </div>
                    </div>
                    <div class="center" style="background-color: white">
                        <div class="empty">
                            <header class="article-header">
                                <h1 itemprop="name">
                                    <a class="article-title" href="#" target="_blank">&nbsp;</a>
                                </h1>
                                <div class="article-meta row">
                                    <span class="articleType am-badge am-badge-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                                </div>
                            </header>
                            <div class="article-entry" style="height: 200px">
                            </div>
                            <div class="read-all">
                                <a href="#" target="_blank">阅读全文 <i class="am-icon-angle-double-right"></i></a>
                            </div>
                            <hr>
                            <div class="article-tags">
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                                <i class="am-icon-tag"><a class="tag" href="#"> &nbsp;&nbsp;&nbsp;&nbsp;</a></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-row" id="page-father">
                    <div id="pagination">
                        <ul class="am-pagination  am-pagination-centered">
                            <li class="am-disabled"><a href="#">&laquo; 上一页</a></li>
                            <li class="am-active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">下一页 &raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="new-comment am-show-sm-only">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                        <div class="am-list-news-hd am-cf">
                            <a class="">
                                <h2>最新评论</h2>
                            </a>
                        </div>
                        <div class="am-list-news-bd">
                            <ul class="am-list">
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="new-leaveWord am-show-sm-only" style="background-color: white">
                    <div data-am-widget="list_news" class="am-list-news am-list-news-default" >
                        <div class="am-list-news-hd am-cf">
                            <a class="">
                                <h2>最新留言</h2>
                            </a>
                        </div>
                        <div class="am-list-news-bd">
                            <ul class="am-list">
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                                <li class="am-g am-list-item-dated" style="height: 62px">

                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="site-info am-show-sm-only" style="background-color: white">
                    <h5 class="site-title">
                        <i class="am-icon-info site-icon"></i>
                        <strong style="margin-left: 15px">网站信息</strong>
                    </h5>
                    <ul class="site-default" style="height: 200px">

                    </ul>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-lg-3">
                <div id="right" >

                    <div class="widget" style="margin-left: 0px;background-color: white">
                        <div class="bg-danger">
                            <div class="kira-info">
                                <i class="am-icon-quote-left" style="float: left"></i><br>
                                <div class="kira-info-day">
                                    <p>我北上看到的冰川是你,</p>
                                    <p>我南下追寻的极光是你,</p>
                                    <p>我西去流浪的经幡是你,</p>
                                    <p>我东来皈依的梵经是你,</p>
                                  <!--  <p style="text-align: right;padding-top: 10px">-&#45;&#45; kira</p>-->
                                </div>
                                <i class="am-icon-quote-right" style="float: right"></i>
                                <div class="kira-info-opinion">
                                    <p style="line-height: 25px">不忘初心<br>方得始终</p>
                                    <p><strong>三日月的鸟居</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tag-cloud">
                        <h3 class="widget-title">标签云</h3>
                        <div class="widget-tag-cloud">
                            <span>暂无标签</span>
                        </div>
                    </div>

                    <div class="site-info am-hide-sm-only" style="margin-left: 0px;margin-top: 0px;background-color: white">
                        <h5 class="site-title">
                            <i class="am-icon-info site-icon"></i>
                            <strong style="margin-left: 15px">网站信息</strong>
                        </h5>
                        <ul class="site-default" style="height: 200px">

                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--引入共有底部-->
    <div th:replace="footer :: footer"></div>
    <!--消息盒子+反馈-->
    <div th:replace="other :: other"></div>
</div>

<script src="../../static/js/index.js"></script>
<script src="../../static/js/mouseclick.js"></script>
<script src="js/all.js"></script>
<script src="js/plugs_paging.js"></script>
<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://lib.baomitu.com/underscore.js/1.9.1/underscore-min.js"></script>
<script src="js/lastUrl.js"></script>
<script src="https://lib.baomitu.com/amazeui/2.7.2/js/amazeui.min.js"></script>
</body>
</html>